ES_URL=https://localhost:9200
ES_API_KEY=your_api_key_here
ES_CA_CERTS_FILE_PATH=/path/to/ca_certificate.pem
ES_QUERY_FIELDS=@timestamp,kibana.alert.rule.name,kibana.alert.severity
ES_QUERY_MATCH_WORKFLOW_STATUS=open

KBN_SPACE=default

EQTR_AUTH_BEARER_TOKEN=your_bearer_token_here
EQTR_REFRESH_INTERVAL_MINUTES=5
EQTR_LOG_LEVEL=info

APM_SERVICE_NAME=eqtr
APM_SERVICE_NODE_NAME=eqtr-1
APM_SERVER_URL=https://localhost:8200
APM_SECRET_TOKEN=your_apm_secret_token_here
APM_ENVIRONMENT=dev
APM_CA_CERTS_FILE_PATH=/path/to/ca_certificate.pem
