ES_URL=https://localhost:9200
ES_API_KEY=your_api_key_here
ES_CA_FILE_PATH=/path/to/ca_certificate.pem
ES_QUERY_FIELDS=@timestamp,kibana.alert.rule.name,kibana.alert.severity
ES_QUERY_MATCH_WORKFLOW_STATUS=open

KBN_SPACE=default

EQTR_AUTH_BEARER_TOKEN=your_bearer_token_here
EQTR_REFRESH_INTERVAL_MINUTES=5
EQTR_BIND_PORT=8000
EQTR_BIND_ADDRESS=0.0.0.0
